html,
body {
	font-family: sans-serif;
	margin: 0%;
	padding: 0%;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.1rem 5rem;
	background: 
}

.brand a {
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 600;
	color: 
}

.nav_ul {
	display: flex;
	flex-direction: row;
}

.nav_li {
	list-style-type: none;
	margin-left: 3rem;
}

.nav_li>a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-size: 0.9rem;
	font-weight: 500;
}


.nav_li::after {
	content: '';
	width: 0rem;
	height: 0.15rem;
	background-color: ;
	display: block;
	border-radius: 0.2rem;
	margin: 0.2rem auto 0 auto;
	transition: all 0.3s ease-in-out;
}

.nav_li:hover::after {
	width: 2rem;
}


